* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(9, 152, 218, 0.966);
    background-image: url('../img/pattern.png');
    padding-top: 2%;
    background-size: 16.8%;
    background-repeat: repeat-x;
}

header img{
    width: 8%;
}