* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(9, 152, 218, 0.966);
    background-image: url('../img/pattern.png');
    padding-top: 2%;
    background-size: 16.8%;
    background-repeat: repeat-x;
    padding-left: 1%;
}

header img{
    width: 8%;
}

main {
    width: 55%;
    padding: 1%;
}

main h1{
    font-size: 40px;
}


#author,#date{
    color: rgb(145, 145, 145);
}

#author span{
    color: rgb(66, 186, 226);
}

#date {
    margin-bottom: 0.7%;
}

.left-image{
    width: 53.5%;
}

.right-image{
    width: 45.75%;
}

div img {
    display: inline-block;
}

#description {
    font-size: 12px;
}

ul{
    padding-left: 2%;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

p span {
    background-color: yellow;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 2%
}
thead {
    color: white;
    background-color: rgb(73, 163, 236);
}

.prova {
    background-color: lightblue;
}

/* ultimo td più lungo */
td:last-child {
    width: 60%;
}

h3 {
    color: grey;
    margin-top: 4%;
}
#monitor{
    background-image: url('../img/monitor.jpg');
}

#graph {
    background-image: url('../img/graph.jpg');
}
#monitor,#graph{
    color: white;
    font-size: 25px;
    background-size:cover;
    width: 240px;
    height: 180px;
    filter: blur(0.8px);
    margin-top: 2%;
}